body{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
}

/* FV */
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-image: url(/img/fv-bkimg02.png);
    background-size: cover; /* 必要に応じて他のbackgroundプロパティも設定可能 */
    opacity: 0.4; /* ここで背景画像の不透明度を設定 */
    z-index: -1; /* 必要に応じて調整 */
}

.fv-wrap{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    height: 700px;
    margin: auto;
}

.header-text{
    white-space: nowrap;
    h1{
        margin: 0;
        font-size: 72px;        
        font-weight: 900;
        color: #136B90;
    }

    p{
        margin-top: 30px;
        line-height: 2;
        font-size: 22px;
        font-weight: 700;
    }

    img{
        margin-right: 30px;
    }
}

.fv-img img{
    width: 750px;
}

/* ABOUT */

.about-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    background-color: #F2F2F2;
}

.about-text{
    position: relative;
    padding-bottom: 40px;
}

.about-text h1{
    position: absolute;
    top: -80px;
    left: 0;
    font-size: 54px;
    font-weight: 900;
    color: #64A1BC;
    letter-spacing: 10px;
}

.about-text p{
    padding-top: 50px;
    max-width: 800px;
}

.about-profile{
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    padding: 30px;
    border: 2px dashed #a1a1a1;
}

.about-profile h2{
    margin-bottom: 10px;
    color: #136B90;
    letter-spacing: 2px;
    font-weight: 900;
}

.about-profile ul{
    width: fit-content;
    line-height: 1.8;
    margin: auto;
    text-align: left;
    list-style: none;
    padding: 0;
}

/* SKILL */

.skill-contents {
    max-width: 1080px;
    margin: 80px auto 0; 
    text-align: center;
    position: relative; 
}

.skill-contents h1 {
    position: relative; 
    margin: 0;
    font-size: 54px;
    font-weight: 900;
    color: #64A1BC;
    letter-spacing: 10px;
    background: white;
    display: inline-block; 
    padding: 0 20px; 
    z-index: 1; 
}

.skill-contents::before,
.skill-contents::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%; 
    height: 3px; 
    background-color: #9E9E9E; 
    z-index: 0;  
}

.skill-contents::before {
    left: 0;
    transform: translateY(-50%); 
}

.skill-contents::after {
    right: 0;
    transform: translateY(-50%); 
}

/* Slider */
.swiper {
    margin-top: 60px;
    max-width: 1080px;
    height: 100%;
}

.swiper-wrapper{
    align-items: center;
}

.swiper-slide {
    padding: 30px 30px;
    border: 2px solid #333333;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, opacity 0.3s;
}

.swiper-slide img {
    width: 160px;
    transition: transform 0.3s;
}

.swiper-slide-active {
    transform: scale(1); 
}

/* .swiper-slide-active img {
    transform: scale(0.8); /* Reduce size of image in active slide */


/* .swiper-slide-next p, .swiper-slide-prev p,
.swiper-slide-next h2, .swiper-slide-prev h2 {
    display: none; /* Hide paragraphs in next and previous slides */


.swiper-slide-next img, .swiper-slide-prev img {
    width: 140px;
}


.swiper-slide-next, .swiper-slide-prev {
    transform: scale(0.8) !important;
    opacity: 0.5;
}

.swiper-slide h2 {
    font-size: 24px;
    margin: 20px 0 0;
    color: #136B90;
}

.swiper-slide p {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
}



/* Works */
.works-contents {
    max-width: 1080px;
    margin: 100px auto 0; 
    text-align: center;
    position: relative; 
}

.works-contents h1 {
    position: relative; 
    margin: 0;
    font-size: 54px;
    font-weight: 900;
    color: #64A1BC;
    letter-spacing: 10px;
    background: white;
    display: inline-block; 
    padding: 0 20px; 
    z-index: 1; 
}

.works-contents::before,
.works-contents::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%; 
    height: 3px; 
    background-color: #9E9E9E; 
    z-index: 0;  
}

.works-contents::before {
    left: 0;
    transform: translateY(-50%); 
}

.works-contents::after {
    right: 0;
    transform: translateY(-50%); 
}

/* list */
.list-container {
    max-width: 1080px;
    margin: 80px auto 0;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.list-item {
    flex: 0 0 calc(30% - 20px); 
    max-width: calc(30% - 20px);
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.5s ease; 
}

.list-item:hover{
    transform: scale(1.1);
}

.list-item img {
    max-width: 100%;
    height: auto;
    object-fit: cover
}

.list-item h3 {
    color: #333333;
    margin-top: 10px;
    font-size: 16px;
}

/* Footer */
.footer {
    background-color: white;
    border-top: 2px solid #333;
    color: #333;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.footer-contact, .footer-follow {
    display: block;
    text-align: left;
    margin: 10px 0;
}

.footer-follow img {
    width: 24px;
}

.footer-contact p, .footer-contact a, .footer-follow p, .footer-follow a {
    margin: 5px 10px 0 0;
    color: #333;
}

.footer-follow a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.footer-follow a:hover {
    color: #ff9900; /* ホバー時のリンク色 */
}

.footer-contact a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    position: relative;
    transition: color 0.3s ease;
}

.footer-contact a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px; /* ボーダーの位置を調整 */
    left: 0;
    background-color: #333;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.footer-contact a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.footer-follow p{
    margin-bottom: 5px;
}

@media screen and (768px <= width < 1200px){

    /* .fv-wrap{
        height: 58.3vw;
    } */
    
    .header-text h1 {
        font-size: clamp(2.813rem, -0.188rem + 6.25vw, 4.5rem);
    }
    
    .header-text p {
        font-size: clamp(1.125rem, 0.681rem + 0.93vw, 1.375rem);
    }

    .fv-img img{
        width: clamp(25rem, -13.889rem + 81.02vw, 46.875rem);
    }

    .header-text img{
        width: clamp(2.188rem, 0.521rem + 3.47vw, 3.125rem);
    }
    .swiper-slide img{
        width: clamp(7.5rem, 3.056rem + 9.26vw, 10rem);
    }
} 

@media screen and (max-width:768px) {
    .fv-wrap{
        flex-direction: column-reverse;
    }

    .header-text{
        margin-top: 30px;
        text-align: center;
    }

    .header-text h1 {
        font-size: clamp(1.5rem, 0.429rem + 5.36vw, 5rem);
    }
    
    .header-text p {
        font-size: clamp(1rem, 0.911rem + 0.45vw, 1.125rem);
        margin-top: 10px;
    }

    .fv-img{
        text-align: center;
    }

    .fv-img img{
        width: clamp(18.75rem, 9.821rem + 44.64vw, 31.25rem);
    }

    /* About */
    .about-contents{
        padding: 0 20px;
        margin-top: 30px;
        flex-direction: column;
        padding-bottom: 50px;
        gap: 30px;
    }

    .about-text{
        padding-bottom: 0;
    }

    .about-profile img{
        width: 70%;
    }

    .about-text h1{
        top: -35px;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: clamp(2.5rem, 1.875rem + 3.13vw, 3.375rem);
    }

    .about-text p{
        font-size: 14px;
        padding: 40px 0 0;
    }

    .about-profile{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
        padding: 20px;
        width: 100%;
    }

    .about-profile h2{
        font-size: clamp(1.375rem, 1.107rem + 1.34vw, 1.75rem);
        margin-top: 0;
    }

    .about-profile img{
        width: clamp(6.25rem, 1.786rem + 22.32vw, 12.5rem);
    }

    .about-profile ul{
        margin: 0;
    }

    /* slill */
    .skill-contents{
        margin-top: 50px;
    }

    .skill-contents h1{
        font-size: clamp(2.5rem, 1.875rem + 3.13vw, 3rem);
    }

    .skill-contents h2{
        font-size: clamp(1rem, 0.643rem + 1.79vw, 1.5rem);
    }

    .swiper{
        width: clamp(18.75rem, 12.054rem + 33.48vw, 28.125rem);
    }

    .swiper-slide img{
        width: clamp(5.625rem, 4.286rem + 6.7vw, 7.5rem);
    }

    .swiper-button-prev,
    .swiper-button-next {
        height: 30px !important;
        width: 30px !important; 
    }
    /* 矢印を消して画像に変更する */
    .swiper-button-prev::after,
    .swiper-button-next::after {
        content: "" !important;
        background-repeat: no-repeat;
        background-size: contain;
        height: 50px;
        width: 50px;
        margin: auto;
    }
    /* 前に戻る矢印の画像パス */
    .swiper-button-prev::after {
        background-image: url(https://shimizu-create.com/wp-content/uploads/2024/03/arrow-left.png);
    }
    /* 次に進む矢印の画像パス */
    .swiper-button-next::after {
        background-image: url(https://shimizu-create.com/wp-content/uploads/2024/03/arrow-right.png);
    }

    .works-contents h1{
        font-size: clamp(2.5rem, 1.875rem + 3.13vw, 3rem);
    }

    .list-container{
        margin-top: 80px;
        flex-direction: column;
    }

    .list-item{
        margin: auto;
        max-width: calc(90% - 20px);
    }

}